#scrollTopBtn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: #1e3c72;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#scrollTopBtn.show {
  opacity: 1;
  visibility: visible;
}
